{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb", "airbnb/hooks"],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "requireConfigFile": false
  },
  "plugins": ["react-hooks"]
}
