src/*
webpack.config.js
.storybook/*
coverage/*
build/*
built-storybook/*
.env
.eslintignore
.eslintrc.json
.prettierrc
rollup.config.js
.husky
jest.config.js
tsconfig.json
.eslintrc
locales/*
.babelrc.js
docs/
coverage/
.github
storybook-static/*
i18n.js
.prettierrc.js
.stylelintrc.js
.eslintrc.js